<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>甘肃省精神卫生项目管理系统</title>
<link rel="shortcut icon" href="__ICO__/favicon.ico"/>
<link rel="bookmark" href="__ICO__/favicon.ico"/>
<link href="__LOGINCSS__/login.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery-1.11.3.min.js"></script>
<script src="__UTILLAYER__/layer.js"></script>
<script src="__MSG__/message.js"></script>
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="__LOGINIMAGES__/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="__LOGINIMAGES__/login_logo.png" /></a></div>
          <div class="login_name">
               <p>甘肃省精神卫生项目管理系统</p>
          </div>
          <form method="post" action="">
              <input type="text" id="uname" placeholder="请输入登录名" >
              <!-- <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();" >密码</span> -->
              <input type="password" id="upass" placeholder="请输入密码" >
              <input value="登录" id="btn" style="width:100%;" type="button" οnclick="return false;">
          </form>
      </div>
      <div class="copyright">中科软科技股份有限公司 版权所有©2019-2021 技术支持电话：010-8765231</div>
</div>
<div style="text-align:center;">
</div>
<script src="__LOGINJS__/login.js"></script>
</body>
</html>
